.typing {
    font-family: "Philosopher","serif";
    font-weight: 300;
    text-align: center;
    font-size: 4.0rem; 
    color: #4d4b4b;
    vertical-align: middle;
    /* margin: 0.4em 0; */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 42em; */
}

@media screen and (max-width: 767px) {
    .typing {
        font-weight: 300;
        font-size: 2.0rem; 
        color: #4d4b4b;
        vertical-align: middle;
    }
}